<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
	  <layout class="org.apache.log4j.PatternLayout">
	    <param name="ConversionPattern" value="%-4r %-5p %c %x: %L - %m%n"/>
	  </layout>
	</appender>
	
	<category additivity="true" name="org.apache.http.wire">
    	<priority value="WARN"/>
  	</category>
	
	<root>
		<appender-ref ref="stdout" />
	    <level value="debug"/>
	</root>
</log4j:configuration>